*.o
pdfsearch
tags
tests/test
a.out
.gdb_history
t.sqlite
plans
src/*.d
t.cpp
t1.cpp
t2.cpp
tt.cpp
tests/*.d
pdfsearch.sqlite
tests/tests
*.in
*.in~
*.log
*.old
*.status
compile
configure
autom4te.cache/
*.deps
*.scan
stamp-h1
test-driver
Makefile
aclocal.m4
depcomp
install-sh
missing
config.h
tests/catch
tests/catch.trs
